:root{
  --primary-color: rgba(14, 86, 192, 1);
  --text-primary: #616161;
  --bg-dark: #353535;
}



.body .container.inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inPageSec{
  padding-top: 2rem;
}

/* Farming and Staking Cards */
.web3-card{
	background: #ffffff;
  margin: 0 1rem 2rem 1rem;
  max-width: 25rem;
  width: 100%;
  min-width: 10rem;
  border: 1px solid transparent;
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0.3rem;
  padding-top: 2rem;
}
.web3-card__heading{
	background-color:rgba(14, 86, 192, 0.12 );
	display: flex;
	justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  padding: 8%;
}
.web3-card__heading div:last-of-type{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  flex-direction: column;
}
.web3-card__heading .multiplier{
  text-align: end;
  font-weight: 700;
  display: inline-block;
  color: #ffffff;
  background-color: #FF3D00;
  padding: 2px;
  border: 1px solid #FF3D00;
  border-radius: 40%;
}
.web3-card__heading h4{
  font-weight: 700;
  margin: 0;
}
.web3-card__heading img{
	width: 40px;
}

.web3-card__user-reward{
  list-style: none;
  padding: 5% 8%;
  margin: 0;
  padding-bottom: 0;
}
.web3-card__user-reward li{
  display: flex;
  justify-content: space-between;
}
.web3-card__user-reward div>span:first-of-type{
  color: rgba(115, 115, 115, 1);
}
.web3-card__user-reward span:last-of-type{
  font-weight: 600;

}
.web3-card__amount{
  padding:  2% 8%;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}
.web3-card__amount div:first-child{
  display: flex;
  flex-direction: column;
}
.web3-card__amount div:first-child span:last-child{
  font-weight: 600;
}
.web3-card__amount div:last-child{
  display:  flex;
}
.web3-card__amount div:last-child span{
  display: inline-block;
  cursor: pointer;
  margin-left: 12px;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--primary-color);
  background-image: linear-gradient(rgba(14, 86, 192, 0.12), rgba(0, 113, 188, 0.17));
}
.web3-card__amount div:last-child span:hover{
  border: 1px solid rgba(56, 162, 222, 0.6);
}
.web3-card .apr-title{
  text-decoration: underline;
}
.tooltip-inner{
  background-color: rgba(14, 86, 192, 0.9);
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: rgba(14, 86, 192, 0.9);
}

.web3-card__btns{
	padding: 6% 8%;
	display: flex;
	flex-direction: column;
}
.web3-card__btn{
  border: none;
  padding: 10px;
  font-weight: 700;
  margin-bottom: 1rem;
  outline: none !important;
}
.web3-card__btn--harvest{
  color: #0E56C0;
  border: 1px solid #0E56C0;
  background: #ffffff;
}
.web3-card__btn--blue{
  color: #ffffff;
  background: var(--primary-color);
}
.web3-card__bottom{
  background: rgba(0, 0, 0, 0.05);
  padding: 3% 8%;
  color: var(--text-primary);
}
.web3-card__bottom p{ margin: 0;}
.web3-card__bottom p:first-of-type{
  font-size: 14px;
}
.web3-card__bottom a{
  color: var(--text-primary);
}
.web3-card__bottom a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.web3-card .disable-btn{
  cursor: not-allowed;
}

.not-connected .wallet-connected{
  display: none;
}
.connected .wallet-not-connected{
  display: none;
}

.enabled .contract-not-enabled{
  display: none;
}

.not-enabled .contract-enabled{
  display: none;
}

.notifications.notifications--show{
  background-color: white;
  padding: 10px;
  color: #868686;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  font-weight: 600;
  visibility: visible;
  margin-bottom: 1rem;
}
.notifications__status{
  margin-left: 1rem;
}
.notifications{
  height: 0;
  margin: auto;
  color: transparent;
  padding: 0;
  transition: all 0.5s;
  width: 60%;
  visibility: hidden;
  text-align: center;
}
.notifications .spinner-border{
  display: none;
}
.notifications.notifications--show .spinner-border{
  display: inline-block;
}


.modal-body .warning{
  visibility: hidden;
}
.modal.disable-modal .warning{
  display: inline-block;
  visibility: visible;
}
.modal.disable-modal .btn__confirm{
  cursor: not-allowed !important;
}
.btn__confirm.disable-btn{
  cursor: not-allowed !important;
}

/* styling for skeleton loader */
.ph-item{
  margin-bottom: 0 !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  height: 1rem;
}

/* styling for skeleton */
.loading .loaded{
  display: none;
}
.loading .enable-contract{
  cursor: not-allowed;
}

.loaded .loading{
  display: none;
}

/* styling for pools */
.lpimg{
  position: absolute;
}
.first-lpimg{
  transform: translate(0, -30%);
}
.lpimg img:not(.first-lpimg){
  transform: translate(-50%, 30%);
}

.theme-btn{
  position: fixed;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

footer{
  padding-top: 1rem;
}

/* styling for responsiveness */
@media only screen and (max-width: 768px){
  :root{
    font-size: 12px;
  }
  .notifications{
    width: 90%;
  }
  .theme-btn{
    width: 6rem;
  }
}

/* styling for dark theme*/
.dark .inPageSec,
.dark header,
.dark footer,
.dark .notifications.notifications--show,
.dark .web3-card,
.dark .modal-content{
  background: #353535;
}
.pageBgGrdient.dark{
  background-image: linear-gradient(0deg, #353535 0%, #353535 100%);
}
.dark .web3-card,
.dark .notifications.notifications--show{
  color: #F0F0F0;
  border: 1px solid #868686;
}
.dark .modal-content,
.dark .modal-content .btn,
.dark .modal-content .btn path{
  color: #F0F0F0;
  fill: #F0F0F0;
}
.dark .web3-card__btn--blue{
  color: #303030;
}

/* additional styles for prediction pools */
.staking-section--headings {
  margin: auto;
  width: fit-content;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1.2rem 0.4rem;
  margin-bottom: 4rem;
}

.staking-section--headings span {
  cursor: pointer;
  padding: 1rem;
  border-radius: 30px;
}

body.live .staking-section--headings span.live-tab {
  background: rgba(165, 165, 165, 0.52);
}

body:not(.live) .staking-section--headings span.past-tab {
  background: rgba(165, 165, 165, 0.52);
}

.live-pools, .past-pools{
  display: none;
}

body:not(.live) .past-pools{
  display: block;
}

body.live .live-pools{
  display: flex;
}

.past-pools{
  overflow: scroll;
}

.past-pools .page{
  display: flex;
  justify-content: center;
}

.past-pools .page-nos{
  text-align: center;
  color: #fff;
}

.prediction-pool .title{
  text-align: end;
}

.past-pools .page{
  display: none;
}
.past-pools .page.active{
  display: flex;
}

.past-pools .page-nos span{
  display: inline-block;
  width: 0.7rem;
  cursor: pointer;
}
.past-pools .page-nos span.active{
  text-decoration: underline;
  color: #0E56C0;
}

.past-pools .empty{
  text-align: center;
  color: #fff;
}

.past-pools.empty .empty{
  display: block;
}
.past-pools:not(.empty) .empty{
  display: none;
}

.past-pools.empty table{
  display: none;
}
.past-pools:not(empty) table{
  display: table;
}

.past-pools table{
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

.past-pools .table-head{
  padding: 1rem;
  background: #fff;
  color: #0071BC94;
  text-align: center;
}

.past-pools .table-head th{
  padding: 1rem;
}

.past-pools td{
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  vertical-align: middle;
}
.past-pools tr{
  padding: 0.3rem;
  text-align: center;
  background-color: #fff;
}
.past-pools button.withdraw{
  background-color: #0E56C0;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 10px;
  margin: auto;
}
.past-pools img{
  width: 2rem;
}
